@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

body{
    max-width: 1480px;
    margin: 0 auto;
    /* background-color: #34353a; */
    background-color: #212121;
    color: #F1F1F1 !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* .profile-bg{
    background: url('./assets/images/portfolio-img.png');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
} */

.vertical-line::before{
    content: "Let's Connect";
    border-bottom: 2px solid #FAB84D;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-52%, -120%) rotate(270deg);
    height: 30px;
    width: 300px;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
}

.about{
    font-size: 18px;
    position: relative;
    padding: 20px 60px;
    text-align: justify;
}

.about::before{
    content: "";
    border-top: 2px solid #FAB84D;
    position: absolute;
    top: 35px;
    left: 0;
    height: 10px;
    width: 50px;
}

@media only screen and (max-width: 480px) {
    .profile-bg{
        background-position: left bottom;
    }
    .about{
        font-size: 14px;
        padding: 20px;
    }
    .about::before{
        top: 0;
    }
}

.active{
    view-transition-name: activeNavTab;
    border-bottom: 2px solid #FAB84D !important;
}

.border-effect{
    border-bottom: 2px solid transparent;
}

.border-effect:hover{
    border-bottom: 2px solid #FAB84D;
}